<div class="page-navigation code">
    <span> &middot; </span>
    {{#foreach navigation}}
    <a class="next" href="{{url absolute="true"}}" title="NEXT: {{title}}">{{label}}</a>
    <span> &middot; </span>
    {{/foreach}}
</div>
